<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{subject}}</title>

  <style>
    :root {
      --color-primary: #294273;
      --color-secondary: #DAE6F7;
      --color-terciary: #F2E63D;
      --color-quaternary: #F2CB05;
      --bg-text-light: white;
      --bg-text-dark: black;

      --text-color-light: black;
      --text-color-dark: white;
    }

    body {
      margin: 0;
    }

    header,
    main,
    footer {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: var(--text-color-light);
    }

    header,
    footer {
      color: var(--text-color-light);
    }

    header {
      border-bottom: 5px solid var(--color-primary);
    }

    footer {
      border-top: 5px solid var(--color-primary);
    }

    main {
      padding: 20px 0
    }

    header {
      background-color: var(--color-secondary);
    }

    header>.logo {
      background-color: var(--color-secondary);
      padding: 20px 0;
    }

    header>.logo>img {
      height: 80px;
    }

    header>.title {
      background-color: var(--bg-text-light);
      color: var(--text-color-light);
    }

    header>.title {
      padding: 10px 0;
    }

    main {
      background-color: var(--bg-text-light);
    }

    footer {
      background-color: var(--color-secondary);
      padding: 35px 0 35px 0;
    }

    footer>p {
      margin: 0;
      padding: 2px;
    }
  </style>
</head>

<body>
  <header>
    <div class="logo">
      <img src="https://colcic.uesc.br/assets/footerLogo.png" alt="Logo Colcic UESC">
    </div>
  </header>
  <main>
    <div class="title">
      <h1>Seu Trabalho foi Adicionado!</h1>
    </div>
    <h2>{{title}}</h2>
    <p>Professor: {{teacher.name}} {{teacher.last_name}}</p>
    <p>Estudante: {{student.name}} {{student.last_name}}</p>
    <p>Caso deseje ver o projeto no seu navegador <a href="{{link}}">clique aqui</a></p>
  </main>
  <footer>
    <p>Colegiado de Ciência da Computação - COLCIC</p>
    <p>Departamento de Engenharias e Computação - DEC</p>
    <p>Universidade Estadual de Santa Cruz - UESC</p>
    <p>(73) 3680-5110</p>
  </footer>
</body>

</html>