{{> head}}
{{> style}}
    {{> header}}
    <main>
      <div class="title">
        <h1>Seu trabalho foi adicionado</h1>
      </div>
      <h3>{{title}}</h3>
      <p>Docente: {{teacher.name}} {{teacher.last_name}}</p>
      <p>Discente: {{student.name}} {{student.last_name}}</p>
      <p>Para ver seu projeto <a href="{{link}}">clique aqui</a></p>
    </main>
{{> footer}}